.simple-keyboard {
    background: transparent !important;
    height: 100%;
    border: none;
    outline: none;
}

.simple-keyboard .hg-rows {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.simple-keyboard .hg-rows .hg-row {
    height: 100%;
}

.simple-keyboard .hg-rows .hg-row .hg-button {
    height: 100%;
    font-size: 24px;
    background: rgb(68, 68, 68);
    color: white;
    border: none;
    font-weight: bold;
}